{% extends 'repository/base.html' %}


{% block content %}

<body>
<div class="header">
  <h2>PSES Analysis Using Advanced Python Algorithms</h2>
<h2 style="background-color: #04AA6D;
  color: white;">Overall Results</h2>
</div>

<div class="topnav">
  <a href="{% url 'repository:home' %}"><b>Home</b></a>
  <a href="{% url 'repository:about' %}"><b>About</b></a>
  <a href="{% url 'repository:warranty' %}"><b>Warranty Disclaimer</b></a>
</div>

<div class="outer">
  <div class="inner">
<br>
    <p>Select a summary from the list below:</p>

{% for file in files %}
{% if file.code == 'PS' %}

<p><a href='{{ file.file.url }}'>Summary Results for the Public Service by Department</a></p>
<!-- Url path requires repeat of file because holding directory has same name --> 
{% endif %}

{% if file.code == 'Employee' %}
<p><a href='{{ file.file.url }}'>Summary Results for the Public Service by Employee Classification</a></p>
{% endif %}

{% endfor %}
   </div>
</div>

</body>

{% endblock %}
